:host {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;

  @media(min-width: 768px) {
    flex-direction: row;
  }
}

.add-btn {
  display: none;

  @media(min-width: 768px) {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
  }
}

.hide-btn {
  display: none;
}
