<div class="nav" [class.nav-closed]="!isOpen">
  <div class="container" *ngIf="isOpen">
    <app-views></app-views>
    <app-categories></app-categories>
  </div>
  <div class="btns-container">
    <button class="action-btn menu-btn">
      <img src="assets/images/menu_black_24dp.svg" alt="menu-btn" width="30px" (click)="close()">
    </button>
    <button class="action-btn add-btn">
      <img src="assets/images/add_black_24dp.svg" alt="add-btn" width="30px" [routerLink]="['/add']">
    </button>
  </div>
</div>
