@import "src/colors";

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  border-bottom: 2px solid $white;
  margin-left: 40px;
  margin-top: 10px;
  padding-bottom: 5px;
}

.categories {
  max-height: 400px;
  overflow-y: auto;

  @media(min-width: 768px) {
    max-height: 800px;
  }

  .cat-list {
    list-style: none;

    .cat-container {
      display: flex;
      padding: 15px 40px;
      cursor: pointer;

      &:hover {
        background-color: $active;

        .delete {
          display: flex;
          text-align: center;
          margin-left: auto;
        }
      }

      &.active {
        background-color: $active;
      }

      .marker {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        align-self: center;
        margin-right: 10px;
      }

      .category {
        max-width: 158px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .delete {
        display: none;
      }
    }
  }

  .new-category {
    cursor: pointer;
    padding: 15px 40px 0;
    display: flex;
    align-items: center;
    color: $gray-font;

    .new {
      margin-left: 5px;
    }

    .cat-input {
      width: 60%;
      background: none;
      border: none;
      outline: none;
      font: inherit;
      margin-left: 5px;

      &::placeholder {
        color: $gray-font;
      }
    }

    .close-btn {
      margin-left: auto;
    }
  }
}
