$white: #fff;
$black: #000;
$bac: #f9f9f9;
$bar-bac: #f5f5f5;
$active: #ededed;
$red: #c55d5e;
$blue: #6693a5;
$sand: #decbaa;
$green: #bccfbc;
$gray: #747474;
$light-gray: #9e9e9e;
$gray-font: #808080;
$light-gray-font: #bababa;
$btn: #b3b3b3;
